---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For citation counts and the most current record, visit my <a href="{{ site.author.googlescholar }}">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign journal_publications = site.publications | where: "category", "manuscripts" %}
{% assign book_publications = site.publications | where: "category", "books" %}
{% assign publications_by_date = journal_publications | concat: book_publications | sort: "date" | reverse %}
{% for post in publications_by_date %}
  {% include archive-single.html %}
{% endfor %}
