{% include base_path %}

<article class="research-entry" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <div class="research-entry__meta">
    {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>{% endif %}
    {% if post.category %}<span>{{ post.category | replace: "manuscripts", "Journal article" | replace: "conferences", "Conference paper" | replace: "books", "Book chapter" }}</span>{% endif %}
  </div>

  <h2 class="research-entry__title" itemprop="headline">
    <a href="{{ post.url | prepend: base_path }}" rel="permalink">{{ post.title }}</a>
  </h2>

  {% if post.authors %}
    {% assign highlighted_authors = post.authors | replace: "Haoyang Pei", "<strong>Haoyang Pei</strong>" %}
    <p class="research-entry__authors" itemprop="author"><span class="entry-authors__label">Authors</span>{{ highlighted_authors }}</p>
  {% endif %}
  {% if post.venue %}<p class="research-entry__venue">{{ post.venue }}</p>{% endif %}
  {% if post.excerpt %}<div class="research-entry__summary" itemprop="description">{{ post.excerpt | markdownify }}</div>{% endif %}

  <div class="research-entry__links">
    <a href="{{ post.url | prepend: base_path }}">Details</a>
    {% if post.paperurl and post.paperurl != "" %}<a href="{{ post.paperurl }}">Paper / DOI</a>{% endif %}
    {% if post.slidesurl and post.slidesurl != "" %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
    {% if post.link %}<a href="{{ post.link }}">External link</a>{% endif %}
  </div>
</article>
